---
http_interactions:
- request:
    method: get
    uri: http://patft.uspto.gov/netacgi/nph-Parser?OS=PN/6252976&RS=PN/6252976&Sect1=PTO1&Sect2=HITOFF&d=PALL&f=G&l=50&p=1&r=1&s1=6252976.PN.&u=/netahtml/PTO/srchnum.htm
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: Script results follow
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<HTML>\n<HEAD>\n<BASE TARGET=\"_top\">\n<TITLE>United States Patent:
        6252976</TITLE></HEAD>\n<BODY BGCOLOR=\"#FFFFFF\">\n<a name=\"top\"></a>\n<center>\n<IMG
        SRC=\"/netaicon/PTO/patfthdr.gif\" alt=\"[US Patent & Trademark Office, Patent
        Full Text and Image Database]\">\n<br>\n<TABLE>\n<tr><td align=center>\n<a
        href=\"/netahtml/PTO/index.html\"><img src=\"/netaicon/PTO/home.gif\" alt=\"[Home]\"
        border=\"0\" valign=middle></a>\n<a href=\"/netahtml/PTO/search-bool.html\"><img
        src=\"/netaicon/PTO/boolean.gif\" alt=\"[Boolean Search]\" border=\"0\" valign=middle></a>\n<A
        HREF=\"/netahtml/PTO/search-adv.htm\"><IMG BORDER=\"0\" SRC=\"/netaicon/PTO/manual.gif\"
        ALT=\"[Manual Search]\" valign=middle></A>\n<a href=\"/netahtml/PTO/srchnum.htm\"><img
        src=\"/netaicon/PTO/number.gif\" alt=\"[Number Search]\" border=\"0\" valign=middle></a>\n<A
        HREF=\"/netahtml/PTO/help/help.htm\"><IMG BORDER=\"0\" valign=middle SRC=\"/netaicon/PTO/help.gif\"
        ALT=\"[Help]\"></A>\n</td></tr>\n<tr><td align=center>\n<a href=\"#bottom\"><img
        src=\"/netaicon/PTO/bottom.gif\" alt=\"[Bottom]\" val[...]
