---
http_interactions:
- request:
    method: post
    uri: https://ops.epo.org/3.1/auth/accesstoken
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - |
        MUtEdTA2N0FKVWxuQ0IwR0x6SlNDMW9va3FOeHhaT246clJCS3JzQmFvT3pX
        Wjk5Rw==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "issued_at" : "1399056186332",
          "application_name" : "74192625-e8f0-4cff-a47c-d2ced67ed2d5",
          "scope" : "",
          "status" : "approved",
          "api_product_list" : "[ops31-prod]",
          "expires_in" : "1199",
          "developer.email" : "boss@rudewalrus.com",
          "organization_id" : "0",
          "token_type" : "BearerToken",
          "client_id" : "1KDu067AJUlnCB0GLzJSC1ookqNxxZOn",
          "access_token" : "2XGq3DVJADLsRLX6MIXvaGWSTgSW",
          "organization_name" : "epo",
          "refresh_token_expires_in" : "0",
          "refresh_count" : "0"
        }
  recorded_at: Fri, 02 May 2014 18:43:06 GMT
recorded_with: VCR 2.5.0
